@model IEnumerable<Rad301ClubsV1.Models.ClubModel.Club>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@* A form to post back to the same controller a search term *@
<form method="get">
    <input type="search" name="ClubName"/>
    <input type= "submit" name="Search by Club name"/>
</form>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClubName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adminID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClubName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adminID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClubId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClubId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClubId })
        </td>
    </tr>
}

</table>
